body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/background3.jpg); 
    background-size: 100%; 
}
header {
    background: linear-gradient(to right, rgba(52, 152, 219, 0), rgba(44, 62, 80, 0));
    color: #fff;
    padding: 1em 0;    
}
nav ul {
    list-style: none;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
nav a:hover{
    color: black;
}

#camara{
    padding-left: 40px;;
}

#nmbpag{
    color: white;
}
section{
    margin-top: 50px;
}
#encabezado1{ 
    text-align: center;
    margin-top: 20px;
    color: white;
}

#nmblabel{
    font-weight: bold;
}

#escoger{
    margin-top: 20px;
    background-color: black;
    border-color: blue;
    border-radius: 10%;
    font-weight: bold;
    color: white;
}
#escoger:hover{
    background-color:   rgb(231, 225, 225);
    color: black;
    font-weight: bold;
}
footer {
    background: linear-gradient(to right, rgba(52, 152, 219, 0), rgba(44, 62, 80, 0));
    color: white;
    text-align: center;
    padding: 1em 0;
    padding-top: 450px;
    margin-left: 225px;
    position: relative;
    bottom: 0;
    width: 70%;
    font-weight: bold;
}

footer ul{
    list-style: none;
}